h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: larger;
}

.jumbo-header {
    background-color: #FFE6E6;
    color: black;
    /*color:#fff!important;background-color:RGBA(220,53,69,var(--bs-bg-opacity,1))!important*/
}

.nav-color {
    background-color: #FFDDDD;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;   
}

.intro {
    background-color: #FAF0CA;
}

.cards {
    background-color: #FAF0CA;
}

.center-button {
    justify-content: center;
}

/* Footer */
.footer-main {
    background-color: #FAF0CA;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
}
.footer-description{
    word-spacing: 2.5px;
    letter-spacing: .1px;
    font-weight: 400;
}
.footer-bottom{
    background-color: #F4D35E;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
}
